@import "../../../style/color.scss";
.cardBox {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;
  box-shadow: rgba(20, 10, 24, 0.08) 0px 1px 0px,
    rgba(20, 20, 24, 0.08) 0px 0px 5px;
  margin: 30px;
  padding: 5px;
  .addBox {
    margin: auto;
    margin-right: 5px;
  }
  &:hover {
    padding: 2px;
    border: 3px solid $primary;
  }
  .btnBox {
    display: flex;
    flex-direction: row;
    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    .drop {
      background-color: $macDelete;
    }
    .add {
      background-color: $adding;
    }
    .text {
      margin: auto 0;
      font-size: 15px;
      font-weight: bold;
    }
    .dbText {
      margin: 5px 5px 5px auto;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .cardText {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: $black;
    &:hover {
      cursor: pointer;
    }
  }
  .input {
    width: 200px;
    height: 30px;
    border: none;
    padding: 0;
    font-family: "Nanum Gothic", sans-serif;
    color: $black;
    &:focus {
      outline: none;
    }
    &::placeholder {
      vertical-align: middle;
      font-size: 15px;
      transform: translateY(-4px);
    }
    &::-ms-input-placeholder {
      vertical-align: middle;
      font-size: 15px;
      transform: translateY(-4px);
    }
  }
}
