@import "../../style/color.scss";
.navigation {
  display: block;
  left: 0;
  width: 200px;
  min-height: calc(100vh - 121px);
  z-index: 5;
  background-color: $white;
  border-right: 1px solid $gray400;
  word-break: break-all;

  .addTable {
    display: flex;
    flex-direction: row;
    margin: 30px auto -10px 20px;
    background-color: $white;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
    &:hover {
      color: $primary;
    }
  }
  .naviTitle {
    margin: 30px auto -10px 20px;
    font-size: 25px;
    font-weight: bold;
  }
  .sideMenu {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .tableTitle {
    margin: 30px auto 0 30px;
    color: $gray600;
    font-size: 23px;
    font-weight: 500;
    &:hover {
      color: $primary;
      font-weight: bolder;
      cursor: pointer;
    }
  }
  .isFocus {
    color: $primary;
    font-weight: bolder;
  }
}
