@import "../../../style/color.scss";
.dataCard {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 10px;
  box-shadow: $box-shadow;
  margin: 30px;
  padding: 5px;
  .addBox {
    margin: 0 5px 0 auto;
  }
  &:hover {
    padding: 2px;
    border: 3px solid $darkmode;
  }
  .btnBox {
    display: flex;
    flex-direction: row;
    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    .drop {
      background-color: $macDelete;
    }
    .add {
      background-color: $macblue;
    }
    .text {
      margin: auto 0;
      color: $darkmode;
      font-size: 15px;
      font-weight: bold;
    }
    .dataText {
      margin: 5px 5px 5px auto;
      color: $darkmode;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .attributeList {
    border-collapse: collapse;
    border: 1px solid $gray400;
    margin: 5px;
    padding-bottom: 5px;
    .attribute {
      width: fit-content;
      border: 1px solid $gray400;
      padding: 5px;
      font-size: 16px;
      word-break: break-all;
      .input {
        line-height: 16px;
        border: none;
        border-radius: 6px;
        color: $black;
        font-size: 15px;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-size: 13px;
          font-weight: none;
        }
        &::-ms-input-placeholder {
          font-size: 13px;
        }
      }
    }
    .column {
      width: 40%;
      font-weight: bold;
    }
  }
}
