@import "../../style/color.scss";
.mainContainer {
  width: calc(100% - 260px);
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 10px;
  padding: 30px;
  .selector {
    margin: auto auto auto 0;
    .selectTag {
      margin-right: 30px;
      font-size: 25px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $primary;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .isFocus {
    color: $primary;
    font-weight: bold;
  }
}
