@import "../../style/color.scss";
.schemaContainer {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  height: fit-content;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: 10px;
  text-align: center;
  margin: 150px auto;
  padding: 20px;
  .btnBox {
    position: absolute;
    display: flex;
    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    .drop {
      background-color: $macDelete;
    }
    .text {
      margin: auto 0;
      color: $darkmode;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .bold {
    font-weight: bold;
  }
  .tableName {
    margin: 0 auto 10px auto;
    color: $darkmode;
    font-size: 25px;
  }
  .schemaLabel {
    font-size: 17px;
    color: $darkmode;
    margin-bottom: 10px;
  }
  .attributeList {
    border-collapse: collapse;
    border: 1px solid $gray400;
    margin: 10px;
    margin-top: 0px;
    padding-bottom: 5px;
    .attribute {
      width: fit-content;
      border: 1px solid $gray400;
      padding: 5px;
      font-size: 18px;
      word-break: break-all;
    }
    .head {
      padding: 8px;
      border-bottom: 2px solid $black;
      // font-weight: bold;
    }
  }
}
