@import "../../style/color.scss";
.schemaContainer {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  height: fit-content;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: 10px;
  text-align: center;
  margin: 150px auto;
  padding: 20px;
  .btnBox {
    position: absolute;
    display: flex;
    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    .drop {
      background-color: $macDelete;
    }
    .text {
      margin: auto 0;
      color: $darkmode;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .bold {
    font-weight: bold;
  }
  .tableName {
    margin: 0 auto 10px auto;
    color: $darkmode;
    font-size: 25px;
  }
  .schemaLabel {
    font-size: 17px;
    color: $darkmode;
    margin-bottom: 10px;
  }
  .attribute {
    // width: fit-content;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $gray400;
    // border-radius: 4px;
    padding: 5px;
    margin-top: 15px;
    .attributeLabel {
      min-width: 120px;
      width: fit-content;
      margin: auto 20px auto 0;
      text-align: left;
      font-size: 17px;
      &:first-child {
        min-width: 160px;
      }
      &:nth-child(3) {
        min-width: 77px;
      }
      &:nth-child(4) {
        min-width: fit-content;
      }
      &:last-child {
        min-width: fit-content;
        margin-right: 0;
      }
    }
  }
}
