@import "../../style/color.scss";
.dbList {
  width: 740px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.createDb {
  position: fixed;
  right: 78px;
  bottom: 59px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  background-color: $white;
  border-radius: 15px;
  border: none;
  box-shadow: $box-shadow;
  &:hover {
    background-color: $darkmode;
    color: $white;
    cursor: pointer;
  }
  .create {
    width: 20px;
    height: 20px;
    background-color: $create;
    border-radius: 50%;
    margin: 5px;
  }
  .createText {
    margin: auto 5px auto 0;
    font-size: 12px;
    font-weight: bold;
  }
}
